<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.wxiaoqi.security.common.mapper.admin.BaseMenuTitleMapper" >
  <resultMap id="BaseResultMap" type="com.github.wxiaoqi.security.common.entity.admin.BaseMenuTitle" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="language_type" property="languageType" jdbcType="VARCHAR" />
    <result column="menu_id" property="menuId" jdbcType="BIGINT" />
  </resultMap>
  <select id="selectTitleByMenuCode" resultType="java.lang.String">
    SELECT title from base_menu_title where menu_id = ( SELECT id from base_menu where `title` =#{cm.title}) and language_type =#{cm.language}
  </select>
</mapper>