<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.wxiaoqi.security.common.mapper.admin.CfgChargeTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.github.wxiaoqi.security.common.entity.admin.CfgChargeTemplate" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id"  />
    <result column="charge_type" property="chargeType"  />
    <result column="charge_value" property="chargeValue"  />
    <result column="status" property="status"  />
    <result column="remark" property="remark"/>
    <result column="crt_time" property="crtTime" />
    <result column="crt_name" property="crtName"/>
    <result column="upd_time" property="updTime" />
    <result column="upd_name" property="updName" />
  </resultMap>
</mapper>