<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.wxiaoqi.security.common.mapper.admin.CfgDcRechargeWithdrawMapper" >
  <resultMap id="BaseResultMap" type="com.github.wxiaoqi.security.common.entity.admin.CfgDcRechargeWithdraw" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id"  />
    <result column="symbol" property="symbol"  />
    <result column="status" property="status"  />
    <result column="recharge_status" property="rechargeStatus" />
    <result column="withdraw_status" property="withdrawStatus"/>
    <result column="min_withdraw_amount" property="minWithdrawAmount" />
    <result column="max_withdraw_amount" property="maxWithdrawAmount"  />
    <result column="min_recharge_amount" property="minRechargeAmount"  />
    <result column="min_transfer_amount" property="minTransferAmount"  />
    <result column="protocol_type" property="protocolType"  />
    <result column="max_withdraw_day" property="maxWithdrawDay"  />
    <result column="crt_time" property="crtTime"  />
    <result column="crt_name" property="crtName" />
    <result column="upd_time" property="updTime"  />
    <result column="upd_name" property="updName"  />
    <result column="remark" property="remark"  />
    <result column="is_show" property="isShow"  />
    <result column="exch_id" property="exchId"/>
    <result column="system_config" property="systemConfig"/>
    <association property="info" column="exch_id"
                 javaType="com.github.wxiaoqi.security.common.entity.admin.WhiteExchInfo"
                 select="com.github.wxiaoqi.security.common.mapper.admin.WhiteExchInfoMapper.selectByPrimaryKey"/>
  </resultMap>
  <delete id="deleteAll">
    DELETE FROM cfg_dc_recharge_withdraw where symbol =#{symbol} and protocol_type =#{protocolType}
  </delete>

  <select id="selectCustomPage" resultMap="BaseResultMap">
    select * from cfg_dc_recharge_withdraw
    <where>
      <if test="cm.systemConfig!=null and cm.systemConfig!=''">
        and system_config =#{cm.systemConfig}
      </if>
      <if test="cm.exchangeId != null and cm.exchangeId !=''">
        and exch_id =#{cm.exchangeId}
      </if>
      <if test="cm.symbol !=null and cm.symbol!=''">
        and symbol =#{cm.symbol}
      </if>
    </where>
    ORDER BY symbol
  </select>

  <select id="getConfig" resultMap="BaseResultMap">
    select  * from cfg_dc_recharge_withdraw where symbol=#{symbol} and system_config=#{systemConfig} and protocol_type =#{protocolType}
  </select>
</mapper>