<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.wxiaoqi.security.common.mapper.fund.FundAccountAssertLogMapper" >
  <resultMap id="BaseResultMap" type="com.github.wxiaoqi.security.common.entity.fund.FundAccountAssertLog" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="fund_id" property="fundId" jdbcType="BIGINT" />
    <result column="dc_code" property="dcCode" jdbcType="VARCHAR" />
    <result column="trans_no" property="transNo" jdbcType="VARCHAR" />
    <result column="change_type" property="changeType" jdbcType="TINYINT" />
    <result column="change_amount" property="changeAmount" jdbcType="DECIMAL" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
</mapper>