<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.wxiaoqi.security.common.mapper.ud.HParamMapper" >
  <resultMap id="BaseResultMap" type="com.github.wxiaoqi.security.common.entity.ud.HParam" >
    <id column="id" property="id"  />
    <result column="ud_key" property="udKey" />
    <result column="ud_value" property="udValue"  />
    <result column="remark" property="remark"  />
    <result column="crt_time" property="crtTime"/>
    <result column="crt_name" property="crtName"/>
    <result column="upd_time" property="updTime"/>
    <result column="exch_id" property="exchId"/>
    <result column="exchName" property="exchName"/>
    <result column="upd_name" property="updName"/>
  </resultMap>


  <select id="selectCustomPage" resultMap="BaseResultMap">
    SELECT hp.*,wei.white_name as exchName from h_param as hp LEFT JOIN white_exch_info as wei on hp.exch_id = wei.id
    <where>
      <if test="cm.udKey !=null and cm.udKey!=''">
        and hp.ud_key =#{cm.udKey}
      </if>
      <if test="cm.exchId !=null and cm.exchId !=''">
        and hp.exch_id =#{cm.exchId}
      </if>
    </where>
    ORDER BY crt_time
  </select>
</mapper>